* {
  /* border: 1px solid red; */
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;

}

.movies-component, .movies-container, ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies-component {
  justify-content: center;
}

.movies-container {
  background-color: rgb(235,235,235, 0.8);
}

.movie {
  padding: 25px;
  list-style-type: none;
  display: flex;
  margin: 50px;
  justify-content: space-between;
  background-color: white;
  width: 70%;
}

.movie-info {
  flex-direction: column;
  background-color: #6c757d;
  margin-right: 25px;
  justify-content: space-between;
}

h2,p {
  margin-left: 25px;
  margin-right: 25px;
}

p {
  font-size: 16px;
  color: rgb(230, 230, 230);
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.genre-buttons {
  background-color: #6c757d;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 35px;
  padding-right: 35px;
}

button {
  background-color: #6c757d;
  color: white;
  font-size: 16px;
  margin: 15px 10px;
  border: none;
  font-weight: bold;
  justify-content: space-between;
}

.movies-component-header {
  background-color: rgb(35, 35, 35);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movies-country-message {
  color: white;
  text-align: center;
  margin: 30px 0;
}

.back-home-button {
  background-color: rgb(35, 35, 35);
}

.fake-button {
  background-color: rgb(35, 35, 35);
}

.genre-button:hover {
  color: rgb(35, 35, 35);
  transition: 0.4s;
}

.movie-vote-average {
  font-size: 14px;
}

.movie-genre-list {
  font-size: 14px;
}

.average-genres-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-release-date {
  font-style: italic;
}

.average-rating-title {
  text-decoration: underline;
  text-underline-position: under;
}

img {
  width: 400px;
  padding: 0;
  margin: 0;
}
