* {
  border: 2px solid red;
  font-family: 'Open Sans', sans-serif;
}
.root, .App, .movies-component, .movies-container, ul {
  display: flex;
  flex-direction: column;
}

.movie {
  display: flex;
  margin: 50px;
  justify-content: space-between;
}

.movie-image {
  right: 0;
}




.movie-info {
  /* width: 50%; */
  flex-direction: column;
}

.movie-image {
  /* width: 50%; */
}
